# ███████████████████████████████████████████████████████
# Python virtual environment (NEVER commit!)
# ███████████████████████████████████████████████████████
.venv/
venv/
ENV/
env/
*/site-packages/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# ███████████████████████████████████████████████████████
# Django
# ███████████████████████████████████████████████████████
db.sqlite3
media/
staticfiles/

# ███████████████████████████████████████████████████████
# VS Code
# ███████████████████████████████████████████████████████
.vscode/settings.json

# ███████████████████████████████████████████████████████
# Environment files
# ███████████████████████████████████████████████████████
.env
.env.*
